@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    width: 100%;
}
.message{
    color: #fff;
    padding: 5px 15px;
    margin-bottom: 25px;
    border-radius: 10px;
   
}
section{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #5390f3;
    border-radius: 10px;
}
section .calcul{
    display: flex;
}
section .calcul h1{
    color: #fff;
    font-size: 6dvw;
    margin: 2px 20px;
 
}
section h2{
    color: #fff;
    margin: 10px 0;
    font-size: 6dvw;
}
section input{
    padding: 10px 0;
    border: 0;
    outline: 0;
    color: #fff;
    border-bottom: 2px solid #000;
    background-color: transparent;
    margin-bottom: 30px;
    width: 50%;
}
section input[type="submit"]{
   width: 60%;
    border: 0;
    background-color: #000;
    cursor: pointer;
    border-radius: 10px;text-transform: uppercase;
    font-size: 3dvw;
    transition: 0.5s;
    color: #fff;
}
section input[type="submit"]:hover{
    letter-spacing: 2px;
}
.score{
    font-size: 20px;
    color: #000;
    text-align: center;
}
a{
    color: #000;
    text-decoration: none;
    border: 1px solid #000;
    padding: 10px 25px;
    border-radius: 5px;
    margin: 25px 0;
    display: none;
}
span{
    font-size: 50px;
}

